.entryTable {
	display: block;
	margin: 1rem auto;
	padding: 0.5rem;
	border: 0.05rem solid #dadee4;
	border-radius: 0.25rem;

	> table {
		width: auto;
		background: white;
	}

	> table > caption {
		text-align: left;
		padding-bottom: 0.5rem;
	}

	.entryId {
		margin-right: 0.5rem;
	}

	.entryLink {
		font-style: italic;
	}
}

.entryTable.selected {
	background-color: #fbf1a9;
}

td.sev1 {
	color: var(--sev1-color);
}

td.sev2 {
	color: var(--sev2-color);
}

td.sev3 {
	font-weight: 600;
	color: var(--sev3-color);
}
