:global {
	@import "~prismjs/themes/prism.css";
	@import "~prismjs/plugins/line-numbers/prism-line-numbers.css";

	//*******************************
	// Prism overrides
	//*******************************
	pre[class*="language-"] {
		overflow: visible; // Allow CodePanel styles to handle overflow
	}

	code[class*="language-"],
	pre[class*="language-"] {
		tab-size: 2; //  Override Prism default tab-size
	}

	code[class*="language-"] {
		padding: 0; // Override spectre styles to not conflict with Prism
		padding-top: 0.1rem;
	}

	.line-numbers-rows {
		display: none; // By default don't show the rows unless the parent "line-numbers" class is presents
	}

	// Custom overrides for line-numbers to work with our SSR rendering
	.line-numbers .line-numbers-rows {
		display: block;
		top: 1em;
		left: 0;
	}

	// Hide line-numbers in small screens
	// @media (max-width: 600px) {
	// 	pre[class*="language-"].line-numbers {
	// 		padding-left: 1em;
	// 	}
	//
	// 	.line-numbers .line-numbers-rows {
	// 		display: none;
	// 	}
	// }

	.line-numbers .line-numbers-rows .active {
		background-color: yellow;
	}
}

.codePanel {
	overflow: auto;
	border: 0.05rem solid #dadee4;
	border-right: none;
	border-radius: 0.1rem;
	border-top-right-radius: 0;
	// scroll-padding-top: 50%; // Using scrollIntoView + block:center option instead

	background-color: #f5f2f0; // Make sure background is consistent on very small and very large screens.
}

.codePanel > pre {
	margin: 0;
}

.codePanel.error {
	padding: 0.5rem;
	padding-right: 60px;
}
