.deoptsListPanel {
	border-top-left-radius: 0;
	overflow: auto;

	.tabLink {
		white-space: nowrap;
	}

	> nav {
		box-shadow: 0 0 0 black;
	}
}

.entryTable {
	display: inline-block; // So the border extends over the whole table, even when it overflows
	margin: 1rem auto;
	padding: 0.5rem;
	border: 0.05rem solid #dadee4;
	border-radius: 0.25rem;
	border-top-right-radius: 0;

	> table {
		background: white;
	}

	> table > caption {
		text-align: left;
		padding-bottom: 0.5rem;
	}

	.entryId {
		margin-right: 0.5rem;
	}

	.entryLink {
		font-style: italic;
	}
}

.entryTable.selected {
	background-color: #fbf1a9;
}
