@import "../variables";

.fileViewer {
	display: flex;
	height: calc(100% - #{$headerHeight});
	position: relative;

	@media (max-width: $headerViewportSm) {
		height: calc(100% - #{$headerHeightSm});
	}
}

.fileViewer > * {
	flex: 1 0 50%;
}

$scrollBarWidth: 16px;

.codeSettings {
	position: absolute;
	top: 0;
	right: calc(50% + #{$scrollBarWidth});
	z-index: 1;
	margin: 0.25rem;
}
