ul.summaryList {
	list-style: none;
	margin: 0;
}

.severityTable {
	text-align: center;
	margin-top: 1rem;

	th {
		min-width: 100px;
	}
}

.codes {
	color: black;
}

.deopts {
	color: black;
}

.ics {
	color: black;
}
