.summaryTable {
	text-align: center;

	.headers {
		font-size: 1.1rem;
		// text-transform: uppercase;

		th {
			font-weight: normal;
		}
	}

	.subheaders {
		font-size: 0.7rem;
	}
}

.summaryTable.grid {
	display: grid;
	grid-template-columns: minmax(120px, 1fr) repeat(9, 1fr);

	> thead,
	> tbody,
	tr {
		display: contents;
	}

	td:first-child {
		grid-column: 1 / 2;
	}

	.headers {
		.codes {
			grid-column: 2 / 5;
		}

		.deopts {
			grid-column: 5 / 8;
		}

		.ics {
			grid-column: 8 / 12;
		}
	}
}

.fileName {
	text-align: left;
}

.sev1 {
	color: #5ac878;
}

.sev2 {
	color: #4cb5ff;
}

.sev3 {
	font-weight: 600;
	color: #ff6040;
}
