@function getHeaderMargin($headerFontSize) {
	@return calc($headerFontSize / 2); // From Spectre for all headers (.5em)
}

@function getHeaderHeight($headerFontSize) {
	@return ($headerFontSize * $headerLineHeight) + getHeaderMargin($headerFontSize);
}

$headerLineHeight: 1.2; // From Spectre for .h1

$headerFontSize: 2rem; // From Spectre for .h1
$headerFontSizeSm: 1.5rem; // Custom override

$headerHeight: getHeaderHeight($headerFontSize);
$headerHeightSm: getHeaderHeight($headerFontSizeSm);

$headerViewportSm: 768px; // Custom override
