:root {
	--sev1-color: #5ac878;
	--sev2-color: #4cb5ff;
	--sev3-color: #ff6040;
}

/* Color Theme Swatches in Hex */
.Glowing-Blue-1-hex {
	color: #230a59;
}
.Glowing-Blue-2-hex {
	color: #3e38f2;
}
.Glowing-Blue-3-hex {
	color: #0029fa;
}
.Glowing-Blue-4-hex {
	color: #5c73f2;
}
.Glowing-Blue-5-hex {
	color: #829fd9;
}

/* Color Theme Swatches in HSLA */
.Glowing-Blue-1-hsla {
	color: hsla(258, 79%, 19%, 1);
}
.Glowing-Blue-2-hsla {
	color: hsla(241, 87%, 58%, 1);
}
.Glowing-Blue-3-hsla {
	color: hsla(230, 100%, 49%, 1);
}
.Glowing-Blue-4-hsla {
	color: hsla(230, 85%, 65%, 1);
}
.Glowing-Blue-5-hsla {
	color: hsla(219, 53%, 68%, 1);
}

/* https://colorhunt.co/palette/167893 */
.dark-blue-1 {
	color: #1b262c;
}
.dark-blue-2 {
	color: #0f4c75;
}
.dark-blue-3 {
	color: #3282b8;
}
.dark-blue-4 {
	color: #bbe1fa;
}

/* https://colordrop.io/color/17949 */
.aqua-2 {
	color: #08ffc8;
}
.aqua-2 {
	color: #fff7f7;
}
.aqua-2 {
	color: #dadada;
}
.aqua-2 {
	color: #204969;
}
